<header class="navbar navbar-expand flex-column flex-md-row bd-navbar">
    <img src="assets/logo.png" />
    <div class="navbar-nav-scroll" style="text-align: left">
        <h6>Gian hàng Abiding</h6>
    </div>
    <ul class="navbar-nav bd-navbar-nav flex-row ml-md-auto">
        <li class="nav-item">
            <img src="assets/avatar.png" class="img-avatar" />
        </li>
        <li class="nav-item">
            <span>Thông tin tài khoản <i class="fas fa-angle-down"></i></span>
        </li>
        <li class="nav-item">
            <span>Trợ giúp <i class="fas fa-angle-down"></i></span>
        </li>
        <li class="nav-item">Giao dịch đảm bảo</li>
    </ul>
</header>