.navbar {
    min-height: 4rem;
    background-color: #fff;
    border-bottom: solid 1px #ced4da;
}

.navbar h6 {
    margin: 0 2rem;
}

.nav-item {  
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: .8rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: black;
}
.nav-item:hover {
    color: #616161;
    cursor: pointer;
}
.nav-item i{
    color: #9E9E9E;
}

.img-avatar {
    width: 2rem;
    height: 2rem;
    border: 1px solid #9E9E9E;
    border-radius: 50%;
}