<div>
  <div class="row title-warper">
    <div class="col-auto mr-auto">
      <h1>Khuyến mãi</h1>
    </div>
    <div class="col-auto">
      <a routerLink="/admin/voucher/create" class="btn btn-primary">Tạo khuyến mãi</a>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item" style="padding: 0 1rem 0 1rem;">
            <nav class="nav">
              <a [routerLink]="router.url" (click)="getVoucher()" class="nav-item nav-link nav-button" [ngClass]="{'active': activeTab === 0}">Tất cả khuyến mãi</a>
              <a [routerLink]="router.url" (click)="getVoucher(0)" class="nav-item nav-link nav-button" [ngClass]="{'active': activeTab === 1}">Đang áp dụng</a>
              <a [routerLink]="router.url" (click)="getVoucher(2)" class="nav-item nav-link nav-button" [ngClass]="{'active': activeTab === 2}">Chưa áp dụng</a>
              <a [routerLink]="router.url" (click)="getVoucher(1)" class="nav-item nav-link nav-button" [ngClass]="{'active': activeTab === 3}">Ngừng áp dụng</a>
            </nav>
          </li>
          <div class="loader" *ngIf="loading"></div>
          <li class="list-group-item">
            <div class="input-group">
              <button class="btn-search dropdown-toggle" type="button">
                Lọc khuyến mãi
              </button>
              <div class="input-group-prepend">
                <span class="input-group-text text-muted" style="background-color: transparent">
                  <i class="fas fa-search"></i>
                </span>
              </div>
              <input [formControl]="searchInput" type="text" class="form-control search-input" placeholder="Tìm kiếm khuyến mãi">
            </div>
            <table *ngIf="vouchers && vouchers.length > 0" class="table">
              <thead>
                <tr>
                  <th class="table-header">
                    <mat-checkbox [(ngModel)]="totalChecked" [(indeterminate)]="totalIndeterminate" (change)="totalCheckChange($event)"></mat-checkbox>
                  </th>
                  <th class="table-header" style="width: 100%;">
                    <span *ngIf="!totalCheckedText">Chi tiết</span>
                    <div *ngIf="totalCheckedText" class="row action-group">
                      <div class="action-group-label">{{ totalCheckedText }}</div>
                      <div class="btn-group" dropdown>
                        <button dropdownToggle type="button" class="action-group-button dropdown-toggle">
                          Chọn thao tác
                          <span class="caret"></span>
                        </button>
                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu">
                          <li role="menuitem">
                            <a [routerLink]="router.url" (click)="startSale()" class="dropdown-item">Tiếp tục khuyến mãi</a>
                          </li>
                          <li role="menuitem">
                            <a [routerLink]="router.url" (click)="stopSale()" class="dropdown-item">Ngừng khuyến mãi</a>
                          </li>
                          <li role="menuitem">
                            <a [routerLink]="router.url" (click)="deleteVoucher()" class="dropdown-item">Xóa khuyến mãi</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </th>
                  <th class="table-header">Trạng thái</th>
                  <th class="table-header">Đã dùng</th>
                  <th class="table-header">Bắt đầu</th>
                  <th class="table-header">Kết thúc</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let voucher of vouchers" class="clickable-row">
                  <td style="vertical-align: middle;">
                    <mat-checkbox [(ngModel)]="voucher.checked" (change)="checkChange($event, voucher)"></mat-checkbox>
                  </td>
                  <td>
                    <a [routerLink]="['/admin/voucher/update', voucher.id]" class="text-primary">{{ voucher.code }}</a>
                    <p class="text-secondary text-memo">{{ voucher.memoString }}</p>
                  </td>
                  <td>
                    <span *ngIf="voucher.status === 1" class="badge badge-pill badge-stopped">Ngừng áp dụng</span>
                    <span *ngIf="voucher.status === 0" class="badge badge-pill badge-running">Đang áp dụng</span>
                    <span *ngIf="voucher.status === 2" class="badge badge-pill badge-pending">Chưa áp dụng</span>
                  </td>
                  <td>{{ voucher.limitCountNumber + "/" + voucher.limitMaxNumber }}</td>
                  <td>
                    {{ voucher.startDate | date: 'dd/MM/yyyy'}}
                  </td>
                  <td>
                    {{ voucher.endDate | date: 'dd/MM/yyyy'}}
                  </td>
                </tr>
              </tbody>
            </table>
            <span *ngIf="vouchers && vouchers.length > 0">Hiển thị kết quả từ 1 - {{ vouchers.length }} trên tổng {{ vouchers.length }}</span>
            <h5 *ngIf="(!vouchers || vouchers.length == 0)" style="margin-top: 1rem;">Không có kết quả nào</h5>

            <ul>
              <li *ngFor="let group of groups" style="margin-bottom: 1rem;">
                {{ group.id + " | " + group.name }}
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>