.loader {
    height: 2px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #ddd;
}
.loader:before{
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 2px;
    background-color: #0091EA;
    animation: loading 2s linear infinite;
}

@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}

.title-warper {
    margin-bottom: 2rem;
}

.table-header {
    border-top: 0px;
    border-bottom: 0px;
}

.text-primary {
    margin-bottom: 0;
}

.text-memo {
    font-size: 0.8rem;
}

.nav-button {
    padding: 1rem;
    color: #6c757d;
}
.nav-button.active {
    color: black;
    border-bottom: solid #007bff;
}

.search-input {
    border-left: 0px;
}
.search-input:focus {
    outline: none;
    box-shadow:none !important;
    border: 1px solid #ccc !important;
    border-left: 0px !important;
}

.badge-running {
    padding: .25rem .6rem;
    color: #616161;
    background-color: #81C784;
}
.badge-stopped {
    padding: .25rem .6rem;
    color: #616161;
    background-color: #E0E0E0;
}
.badge-pending {
    padding: .25rem .6rem;
    color: #616161;
    background-color: #FFF176;
}

.clickable-row:hover {
    background-color: #E3F2FD;
}

.btn-search {
    padding: 0 1.5rem;
    background: linear-gradient(#FAFAFA, #EEEEEE);
    border: 1px solid #ced4da;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    border-right: 0;
}
.btn-search:hover {
    cursor: pointer;
    background: linear-gradient(#F5F5F5, #E0E0E0);
}

.btn-light {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border: 1px solid #ced4da;
}
.btn-light:hover {
    cursor: pointer;
}

.action-group {
    margin-left: 0; 
}
.action-group-label {
    font-size: .9rem;
    color: #616161;
    padding-left: .5rem;
    padding-right: .5rem;
    display: inline-block;
    font-weight: normal;
    background: linear-gradient(#FAFAFA, #EEEEEE);
    border: 1px solid #ced4da;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    border-right: 0;
}
.action-group-button {
    font-size: .9rem;
    padding-left: .5rem;
    padding-right: .5rem;
    background: linear-gradient(#FAFAFA, #EEEEEE);
    border: 1px solid #ced4da;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}
.action-group-button:hover {
    cursor: pointer;
    background: linear-gradient(#F5F5F5, #E0E0E0);
}

.dropdown-item {
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-size: .9rem;
}
.dropdown-item:hover {
    color: #fff;
    background-color: #0091EA;
}