<div class="col bd-sidebar">
    <div class="row">
        <div class="nav-sidebar col-sm-3">

        </div>
        <div class="main-sidebar col-sm-9">
            <h6>Đơn hàng</h6>
            <span>Tất cả đơn hàng</span>
            <hr/>
            <ul>
                <li>
                    <a href="javascript:void(0)">Tất cả</a>
                </li>
                <li>
                    <a href="javascript:void(0)">Quản lý Phản hồi</a>
                </li>
                <li>
                    <a href="javascript:void(0)">Quản lý Khiếu nại</a>
                </li>
                <li>
                    <a routerLink="/admin/voucher" class="selected">Quản lý Khuyến mãi</a>
                </li>
            </ul>
        </div>
    </div>
</div>