.bd-sidebar {
    min-width: 14rem;  
    height: 100%;
}
.bd-sidebar .row {
    height: 100%;
}

.nav-sidebar {
    background-color: #263238;
    color: #EEEEEE;
    height: 100%;
}

.main-sidebar {
    height: 100%;
    padding-top: .5rem;
    background-color: #37474F;
    color: #EEEEEE;
}
.main-sidebar h6 {
    margin-bottom: 2rem;
}
.main-sidebar span {
    font-size: .9rem;
    color: #E0E0E0;
}
.main-sidebar hr {
    margin: .5rem 0;
    border-top: 1px solid #E0E0E0;
}

.main-sidebar ul {
    padding: 0;
    list-style-type: none;
}
.main-sidebar ul li{
    padding-bottom: .5rem;
}
.main-sidebar ul li a {
    font-size: .9rem;
    color: #E0E0E0;
    text-decoration: none;
}
.main-sidebar ul li a:hover, .main-sidebar ul li a.selected {
    color: #0091EA;
}