<div>
  <div class="row title-warper">
    <div class="col-auto mr-auto">
      <h1 *ngIf="isCreate; else edit_title">Thêm mới khuyến mãi</h1>
      <ng-template #edit_title>
        <h1>Mã khuyến mãi: {{ voucher.code }}</h1>
      </ng-template>
    </div>
  </div>

  <div class="row small-title-warper" *ngIf="!isCreate">
    <div class="col">
      <a *ngIf="(voucher.status == 0)" [routerLink]="router.url" (click)="openModal(modalStopped)" class="title-button">
        <i class="fas fa-ban"></i>Ngừng khuyến mãi</a>
      <a *ngIf="(voucher.status == 1)" [routerLink]="router.url" (click)="openModal(modalContinues)" class="title-button">
        <i class="fas fa-play"></i>Tiếp tục khuyến mãi</a>
      <a *ngIf="(voucher.status == 2)" [routerLink]="router.url" (click)="openModal(modalStarted)" class="title-button">
        <i class="fas fa-play"></i>Bắt đầu khuyến mãi</a>
      <a [routerLink]="router.url" (click)="openModal(modalShare)" class="title-button">
        <i class="fas fa-share-square"></i>Chia sẻ</a>
    </div>
  </div>

  <form (ngSubmit)="onSubmit($event)" [formGroup]="voucherForm">
    <div class="row" *ngIf="showAlertUpdated">
      <div class="col">
        <alert type="success">
          <strong>Thành công!</strong> Đã cập nhật khuyến mãi.
        </alert>
      </div>
    </div>

    <div class="row" *ngIf="showAlertStarted">
      <div class="col">
        <alert type="success">
          <strong>Thành công!</strong> Đã tiếp tục khuyến mãi.
        </alert>
      </div>
    </div>

    <div class="row" *ngIf="showAlertStopped">
      <div class="col">
        <alert type="success">
          <strong>Thành công!</strong> Đã ngừng khuyến mãi.
        </alert>
      </div>
    </div>

    <div class="row" *ngIf="isError">
      <div class="col">
        <alert type="danger">
          <p *ngFor="let error of errors">{{ error }}</p>
        </alert>
      </div>
    </div>

    <div class="row" *ngIf="!isCreate && (voucher.status == 0)">
      <div class="col">
        <div class="success-card">
          <div class="row">
            <div class="col-auto">
              <img class="success-icon" src="assets/verified.svg">
            </div>
            <div class="col" style="padding-left: 0;">
              <h5>{{ voucher.code }} đã được tạo.</h5>
              <p>Hãy chia sẻ link mã khuyến mãi qua email hay mạng xã hội. Khuyến mãi của bạn sẽ được tự động áp dụng ở trang
                thanh toán.
              </p>
              <button type="button" class="btn btn-outline-success" ngxClipboard [cbContent]="voucher.link" popover="Đã sao chép vào clipboard"
                placement="bottom" triggers="focus">Chia sẻ link</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-8 col-sm-12">

        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-body">
                <div class="row small-title-warper">
                  <div class="col-auto mr-auto">
                    <h6>Mã khuyến mại</h6>
                  </div>
                  <div class="col-auto">
                    <a [routerLink]="router.url" (click)="genCode()">Sinh mã ngẫu nhiên</a>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <input type="text" formControlName="code" class="form-control" aria-describedby="codeHelpBlock">
                    <small id="codeHelpBlock" class="form-text text-muted">
                      Khách hàng sẽ nhập mã khuyến mãi này ở màn hình thanh toán.
                    </small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="card">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">

                  <div class="row small-title-warper">
                    <div class="col">
                      <h6>Tùy chọn khuyến mại</h6>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-6">
                      <label>Loại khuyến mãi</label>
                      <select formControlName="saleUnit" class="custom-select">
                        <option *ngFor="let choose of saleChooseList" [value]="choose.value">{{ choose.text }}</option>
                      </select>
                    </div>
                    <div class="col-sm-6">
                      <label for="saleValue">Giá trị khuyến mãi</label>
                      <div class="input-group">
                        <input type="number" min="0" formControlName="saleValue" class="form-control" style="border-right: 0px">
                        <div class="input-group-append">
                          <span class="input-group-text text-muted" style="background-color: transparent">{{ this.saleChooseUnit }}</span>
                        </div>
                      </div>
                    </div>
                  </div>

                </li>
                <li class="list-group-item">

                  <div class="row checkbox-warper">
                    <div class="col">
                      <mat-checkbox formControlName="isSaleLowerLimit">Áp dụng với đơn hàng có tổng giá trị sản phẩm thuộc chương trình khuyến mại từ</mat-checkbox>
                      <div class="input-group">
                        <input type="number" formControlName="saleLowerLimit" class="form-control" style="border-right: 0px">
                        <div class="input-group-append">
                          <span class="input-group-text text-muted input-icon" [ngClass]="{'disabled': saleValueDisable}">₫</span>
                        </div>
                      </div>
                    </div>
                  </div>

                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-body">
                <div class="row small-title-warper">
                  <div class="col">
                    <h6>Áp dụng với</h6>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <mat-radio-group formControlName="targetType" class="radio-group">
                      <mat-radio-button *ngFor="let targetType of targetTypeList" [value]="targetType.value">
                        {{ targetType.text }}
                      </mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text text-muted input-icon" [ngClass]="{'disabled': targetSearchDisable}">
                          <i class="fas fa-search"></i>
                        </span>
                      </div>
                      <input type="text" formControlName="productSearchInput" class="form-control" style="border-left: 0px" placeholder="Tìm kiếm sản phẩm">
                      <div class="input-group-append">
                        <button (click)="searchProduct()" [disabled]="targetSearchDisable" class="btn btn-outline-secondary" style="margin: 0;" type="button">
                          <strong>Tìm kiếm</strong>
                        </button>
                      </div>
                    </div>

                    <div *ngIf="productGroupList" class="dropdown-menu show">
                      <a *ngFor="let productGroup of productGroupList" (click)="addProductGroup(productGroup)" class="dropdown-item">{{ productGroup.name }}</a>
                    </div>
                    <table *ngIf="productGroupSelectList" class="group-table">
                      <tr *ngFor="let productGroupSelect of productGroupSelectList; let i = index" [attr.data-index]="i" [ngClass]="{'border-bottom': i != (productGroupSelectList.length - 1)}">
                        <td style="padding: 1rem 0;">
                          <span>{{ productGroupSelect.name }}</span>
                        </td>
                        <td>
                          <button type="button" class="close pull-right" aria-label="Close" (click)="removeProductGroup(productGroupSelect.id)">
                            <span>&times;</span>
                          </button>
                        </td>
                      </tr>
                    </table>

                    <div *ngIf="productList" class="dropdown-menu show">
                      <a *ngFor="let product of productList" (click)="addProduct(product)" class="dropdown-item">{{ product.name }}</a>
                    </div>
                    <table *ngIf="productSelectList" class="group-table">
                      <tr *ngFor="let productSelect of productSelectList; let i = index" [attr.data-index]="i" [ngClass]="{'border-bottom': i != (productSelectList.length - 1)}">
                        <td style="padding: 1rem 0;">
                          <img [src]="productSelect.thumbnailUrl" style="width: 50px; height: 50px;" />
                        </td>
                        <td>
                          <span>{{ productSelect.name }}</span>
                        </td>
                        <td>
                          <button type="button" class="close pull-right" aria-label="Close" (click)="removeProduct(productSelect.id)">
                            <span>&times;</span>
                          </button>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>

                <!-- List product -->

              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-body">
                <div class="row small-title-warper">
                  <div class="col">
                    <h6>Nhóm khách hàng</h6>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <mat-radio-group formControlName="clientType" class="radio-group">
                      <mat-radio-button *ngFor="let clientType of clientTypeList" [value]="clientType.value">
                        {{ clientType.text }}
                      </mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text text-muted input-icon" [ngClass]="{'disabled': clientSearchDisable}">
                          <i class="fas fa-search"></i>
                        </span>
                      </div>
                      <input type="text" formControlName="clientGroupSearchInput" class="form-control" style="border-left: 0px" placeholder="Tìm kiếm nhóm khách hàng">
                      <div class="input-group-append">
                        <button (click)="searchClientGroup()" [disabled]="clientSearchDisable" class="btn btn-outline-secondary" style="margin: 0;"
                          type="button">
                          <strong>Tìm kiếm</strong>
                        </button>
                      </div>
                    </div>
                    <div *ngIf="clientList" class="dropdown-menu show">
                      <a *ngFor="let client of clientList" (click)="addClient(client)" class="dropdown-item">{{ client.name }}</a>
                    </div>
                    <table *ngIf="clientSelectList" class="group-table">
                      <tr *ngFor="let clientSelect of clientSelectList; let i = index" [attr.data-index]="i" [ngClass]="{'border-bottom': i != (clientSelectList.length - 1)}">
                        <td style="padding: 1rem 0;">
                          <span>{{ clientSelect.name }}</span>
                        </td>
                        <td>
                          <button type="button" class="close pull-right" aria-label="Close" (click)="removeClient(clientSelect.id)">
                            <span>&times;</span>
                          </button>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>

                <!-- List client -->

              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-body">
                <div class="row small-title-warper">
                  <div class="col">
                    <h6>Giới hạn sử dụng</h6>
                  </div>
                </div>

                <div class="row checkbox-warper">
                  <div class="col">
                    <mat-checkbox formControlName="isLimitByTimes">Giới hạn số lần mã giảm giá được áp dụng</mat-checkbox>
                    <div class="row">
                      <div class="col-sm-3">
                        <input type="number" min="0" formControlName="limitMaxNumber" class="form-control">
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row checkbox-warper">
                  <div class="col">
                    <mat-checkbox formControlName="isLimitByClient">Giới hạn mỗi khách hàng chỉ được sử dụng mã giảm giá này 1 lần</mat-checkbox>
                    <span class="form-text text-muted">Kiểm tra bằng email</span>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-body">
                <div class="row small-title-warper">
                  <div class="col">
                    <h6>Thời gian</h6>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-6">
                    <label for="startDateByDate">Ngày bắt đầu</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text text-muted" style="background-color: transparent">
                          <i class="far fa-calendar-alt"></i>
                        </span>
                      </div>
                      <input type="text" formControlName="startDateByDate" class="form-control" style="border-left: 0px" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue' }"
                        placement="top">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label for="startDateByTime">Thời điểm</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text text-muted" style="background-color: transparent">
                          <i class="far fa-clock"></i>
                        </span>
                      </div>
                      <input type="time" formControlName="startDateByTime" class="form-control" style="border-left: 0px">
                    </div>
                  </div>
                </div>

                <div class="row checkbox-warper">
                  <div class="col">
                    <mat-checkbox formControlName="isEndDateEnable">Thời gian kết thúc</mat-checkbox>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-6">
                    <label for="endDateByDate">Ngày kết thúc</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text text-muted input-icon">
                          <i class="far fa-calendar-alt"></i>
                        </span>
                      </div>
                      <input type="text" formControlName="endDateByDate" class="form-control" style="border-left: 0px" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue' }"
                        placement="top">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label for="endDateByTime">Thời điểm</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text text-muted input-icon">
                          <i class="far fa-clock"></i>
                        </span>
                      </div>
                      <input type="time" formControlName="endDateByTime" class="form-control" style="border-left: 0px">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="col-xl-4 col-sm-12">
        <div class="card">
          <div class="card-body">
            <h6>Tổng quan chương trình khuyến mại</h6>
            <div *ngIf="voucher">
              <div class="row">
                <div class="col-auto mr-auto">
                  <p style="font-size: 1.5rem; font-weight: 400;">{{ this.voucher.code }}</p>
                </div>
                <div class="col-auto">
                  <span *ngIf="voucher.status === 1" class="badge badge-pill badge-stopped">Ngừng áp dụng</span>
                  <span *ngIf="voucher.status === 0" class="badge badge-pill badge-running">Đang áp dụng</span>
                  <span *ngIf="voucher.status === 2" class="badge badge-pill badge-pending">Chưa áp dụng</span>
                </div>
              </div>
              <p *ngFor="let memoRow of voucher.memo" style="font-size: .9rem;"> • {{ memoRow }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr/>

    <div class="row">
      <div class="col-auto mr-auto"></div>
      <div class="col-auto">
        <a routerLink="/admin/voucher" class="btn btn-light">Hủy</a>
        <button [disabled]="voucherForm.invalid" type="submit" class="btn btn-primary">Lưu</button>
      </div>
    </div>
  </form>
</div>

<ng-template #modalStarted>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Bắt đầu khuyến mãi {{ voucher.code }}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Bạn có chắc muốn bắt đầu mã khuyến mãi
        <strong>{{ voucher.code }}</strong>? Khuyến mãi sẽ được bắt đầu ngay lập tức.</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modalRef.hide()">Hủy</button>
      <button type="button" class="btn btn-primary" (click)="startVoucher()">Bắt đầu</button>
    </div>
  </ng-template>

<ng-template #modalContinues>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Tiếp tục khuyến mãi {{ voucher.code }}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Bạn có chắc muốn tiếp tục mã khuyến mãi
      <strong>{{ voucher.code }}</strong>? Khuyến mãi sẽ được tiếp tục ngay.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modalRef.hide()">Hủy</button>
    <button type="button" class="btn btn-primary" (click)="startVoucher()">Tiếp tục</button>
  </div>
</ng-template>

<ng-template #modalStopped>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Ngừng khuyến mãi {{ voucher.code }}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Bạn có chắc muốn ngừng mã khuyến mãi
      <strong>{{ voucher.code }}</strong>? Khuyến mãi sẽ được cho hết hạn ngay.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modalRef.hide()">Hủy</button>
    <button type="button" class="btn btn-primary" (click)="stopVoucher()">Ngừng</button>
  </div>
</ng-template>

<ng-template #modalShare>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Link chia sẻ khuyến mãi</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Hãy chia sẻ link mã khuyến mãi qua email hay mạng xã hội. Khuyến mãi của bạn sẽ được tự động áp dụng ở trang thanh toán.</p>
    <div class="row">
      <div class="col">
        <input type="text" [value]="voucher.link" class="form-control" disabled>
      </div>
      <div class="col-auto">
        <button type="button" class="btn btn-primary" ngxClipboard [cbContent]="voucher.link" popover="Đã sao chép vào clipboard"
          placement="bottom" triggers="focus">Copy link</button>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modalRef.hide()">Hủy</button>
  </div>
</ng-template>