.title-warper {
    margin-bottom: 1rem;
}

.small-title-warper {
    margin-bottom: 1rem;
}

.badge-running {
    padding: .25rem .6rem;
    color: #616161;
    background-color: #81C784;
}
.badge-stopped {
    padding: .25rem .6rem;
    color: #616161;
    background-color: #E0E0E0;
}
.badge-pending {
    padding: .25rem .6rem;
    color: #616161;
    background-color: #FFF176;
}

.title-button {
    margin-right: 1rem;
    color: #616161;
    text-decoration: none;
}
.title-button i {
    color: #616161;
    margin-right: .5rem;
}
.title-button:hover {
    color: black;
}

.card {
    margin: .5rem 0;
}

.dropdown-menu {
    position: initial;
    width: 100%;
}
.dropdown-menu a:hover {
    cursor: pointer;
}

.group-table {
    width: 100%;
}
.group-table.border-bottom {
    border-bottom: solid 1px #ced4da;
}

.success-card {
    margin: .5rem 0;
    padding: 1rem .5rem;
    background-color: #C8E6C9;
    border-top: solid 3px #4CAF50;
}
.success-icon {
    margin-left: .5rem;
    width: 2rem;
    height: 2rem;
}

.list-group-item {
    padding: 1.25rem;
}

.checkbox-warper {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

.radio-group {
    display: inline-flex;
    flex-direction: column;
}

.input-icon {
    background-color: transparent;
}
.input-icon.disabled {
    background-color: #e9ecef;
}