<!-- Header here -->
<app-header></app-header>
<div class="container-fluid">
  <div class="row flex-xl-nowrap">
    <app-sidebar></app-sidebar>
    <main class="col bd-content">
        <router-outlet></router-outlet>
    </main>
  </div>
</div>