<div class="row justify-content-center container-index">
  <div class="col-3 align-self-end">
    <a routerLink="/admin/voucher" class="btn btn-primary btn-lg btn-block">Bắt đầu</a>
  </div>
</div>

<div class="card" style="margin-top: 3rem;">
  <div class="card-body">
    <h1>Mockup Data - In Memory Web Api</h1>
  </div>

  <div class="card-body">
    <h5>Nhóm khách hàng</h5>
    <ul>
      <li *ngFor="let clientGroup of clientGroups">
        {{ clientGroup.id + " | " + clientGroup.name }}
      </li>
    </ul>
  </div>

  <div class="card-body">
    <h5>Nhóm sản phẩm</h5>
    <ul>
      <li *ngFor="let productGroup of productGroups">
        {{ productGroup.id + " | " + productGroup.name }}
      </li>
    </ul>
  </div>

  <div class="card-body">
    <h5>Sản phẩm</h5>
    <ul>
      <li *ngFor="let product of products" style="margin-bottom: 1rem;">
        <img [src]="product.thumbnailUrl" />
        {{ product.id + " | " + product.groupId + " | " + product.name }}
      </li>
    </ul>
  </div>
</div>