/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~ngx-bootstrap/datepicker/bs-datepicker.css';

body {
    background-color: #f7f7f9;
}
.container-fluid, .flex-xl-nowrap {
    min-height: 100vh;
}

.custom-radio {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.btn {
    margin: 0 .5rem;
}

span, h1, h2, h3, h4, h5, h6 {
    overflow: hidden;
}

.btn-light {
    border-radius: 2px;
    border: solid 1px #9E9E9E;
    background: linear-gradient(#FAFAFA, #EEEEEE);
}
.btn-light:hover {
    border: solid 1px #9E9E9E;
    background: linear-gradient(#F5F5F5, #E0E0E0);
}

.btn-primary {
    border-radius: 2px;
    background: linear-gradient(#03A9F4, #0288D1);
}
.btn-primary:hover {
    background: linear-gradient(#29B6F6, #039BE5);
}